
.middle-box{
    height: 480px;
    /* background: aqua; */
}
 /* 链接部分 */
.middle-l{
    width: 190px;
    height: 100%;
    background-color:#6e6568;
}
.middle-l li{
    color: white;
    font-size: 14px;
    padding: 0 10px;
}
.middle-l li:first-child{
    padding-top: 15px;
}
.middle-l li a{
    color: white;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
}
.middle-l li span{
    padding: 0 3px;
}

/* 轮播图部分 */
.middle-m{
    width: 790px;
    height: 100%;
    margin-left: 10px;
}

.scroll{
    position: relative;
    width: 100%;
    height: 340px;
    /* background-color: khaki; */
}
.scroll-img{
    float: left;
    background: url(../images/banner.jpg) no-repeat;
    width: 100%;
    height: 100%;
}
.pre{
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    transform: translateY(-50%);

}

.next{
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 60px;
    background: rgba(0, 0, 0, .3);
    transform: translateY(-50%);
}
.scroll i{
    font-family: 'icomoon';
    font-style: normal;
    color: #ccc;
    /* height: 30px; */
    line-height: 60px;
    font-size: 30px;
}

.pre i{
    padding-left: 7px;
}
.next i{
    position: absolute;
    top: 0;
    right: 7px;
    /* padding-left: -7px; */
}

.circle{
    position: absolute;
    bottom: 20px;
    right: 305px;
    height: 20px;
    width: 185px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

}

.circle li a{
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 3px;
    margin-left: 9px;
    border-radius: 50%;
    overflow: hidden;
    background: white;
}
.circle .current{
    background: red;
}
/* .circle li:nth-child(4) a:link{
    
    background: red;
} */

/* a.pre+a.next+ul.circle */
.scroll-b{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    background-color: green;
}
.scroll-b a{
    width: 390px;
    height: 130px;
    background: url(../images/l.jpg) no-repeat;
}
/* user部分 */
.middle-r{
    width: 190px;
    height: 100%;
    background-color: salmon;
}
.login{
    height: 115px;
    border-bottom: 1px solid #ccc;
    background-color: pink;
}
.news{
    height: 155px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.expand{
    height: 209px;
    background-color: red;
}


/* .login+.news+.expand */
